.btn-main {
  border: 0;
  display: block;
  height: 8rem;
  width: 24rem;
  border-radius: 1rem;
  background-color: $green;
}

.input-field {
  width: 90vw;
  height: 5rem;
  border-radius: 1rem;
  border: 0;
  padding-left: 1rem;
}

.button-box {
  height: 15vh;
  width: 80vw;
  background-color: $button-box-color;
  border-radius: 1rem;
  padding: 2rem 2.5rem 2rem 2.5rem;
}
