
.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-position: top;
  background-size: cover;
  background-image: url('../assets/images/NZSunsetPetrVysohlid.jpeg');
  z-index: -1000;
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.pure-nz-logo-lg {
  @extend .logo;
  background-image: url('../assets/images/100PureCenterAligned.svg');
}

.pure-nz-logo-sm {
  @extend .logo;
  background-image: url('../assets/images/100PureRightAligned.svg');
}

.error-close-icon {
 @extend .logo;
 background-image: url('../assets/images/closeIcon.svg');
}
