.z-index-last{
  z-index: -1000;
}

.landing-page-logo-layout {
  height: 27rem;
  margin-top: 20vh;
}

.t-r-logo-layout{
  display: absolute;
  margin-top: 2rem;
  margin-left: 65vw;
  height: 8rem;
}

// .input-fields-container {
//   margin-top: 16.66vh;
// }

.mt-40vh {
  margin-top: 40vh;
}

.mt-10vh {
  margin-top: 10vh;
}

.error-position {
  position: absolute;
  top: 78vh;
  left: 10vw;
  right: 10vw;
}

.error-close-icon-position {
  display: absolute;
  margin-left: 70vw;
  height: 2.5rem;
  width: 2.5rem;
}
