@font-face {
 font-family: 'Helvetica';
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto';
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Helvetica';
 font-weight: $font-bold;
 font-style: normal;
}

@font-face {
 font-family: 'Helvetica';
 font-weight: $font-light;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto';
 font-weight: $font-bold;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto';
 font-weight: $font-light;
 font-style: normal;
}

.body {
  font-family: $font-stack;
}

.body-header {
  @extend .body;
  font-size: 3rem;
  font-weight: $font-light;
  text-align: center;
}

.body-m {
  @extend .body;
  font-size: 2.5rem;
  font-weight: $font-light;
}

.text-light {
  color: #ffffff !important;
}

.input-field::placeholder {
  @extend .body-m;
  color: #999999;
}
