// typography
// -----------------------------------------------------------------------------
$font-stack: 'Helvetica', 'Roboto', sans-serif;
$font-bold: 700;
$font-light: 200;

// colors
// -----------------------------------------------------------------------------

$green: hsla(120, 39%, 54%, 0.8);
